    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Links</h2>
                    <p>Click the following buttons for resources.</p>
                    <a href="https://discord.gg/89DuWWp" class="btn btn-default btn-lg">Discord</a>   <a href="https://fragboss.com/gmod-textures-fix-css-textures/" class="btn btn-default btn-lg">GMOD textures</a>   <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2052772421" class="btn btn-default btn-lg">Whom'st've Gaming steam collection</a> 
                </div>
            </div>
        </div>
    </section>
